<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kopo.poly.persistance.mapper.ICommunityMapper">
    <!--게시판 작성-->
    <insert id="insertCommunity" parameterType="UserInfoDTO">

    </insert>

    <!--게시판 상세 페이지 출력-->
    <select id="getBoardList" parameterType="UserInfoDTO" resultType="UserInfoDTO">

    </select>

    <!--게시판 수정-->
    <update id="updateCommunity" parameterType="UserInfoDTO">

    </update>

    <!--게시판 삭제-->
    <delete id="deleteCommunity" parameterType="UserInfoDTO">

    </delete>
</mapper>